
<footer  style="background-color: rgb(28, 35, 49); color:white" >
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"  style="width: 150px;background-color:#21d192;">
          <p>Here you can use rows and columns here to organize your footer content.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate esse quasi,
            veritatis totam voluptas nostrum.</p>

        </div>

        <hr class="clearfix w-100 d-md-none">

      
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"  style="width: 80px;background-color:#21d192;">
          
          <ul class="list-unstyled">
            <li>
              <p>
              PROJECTS
              </p>
            </li>
            <li>
              <p>
                ABOUT US
              </p>
            </li>
            <li>
              <p>
               BLOG
              </p>
            </li>
            <li>
              <p>
              AWARDS
              </p>
            </li>
          </ul>

        </div>
       

        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"  style="width: 100px;background-color:#21d192;">

          <ul class="list-unstyled">
            <li>
              <p>
                  <i class="fas fa-map-marker-alt" style=" font-size: 15px; color: orange"></i> EGYPT
              </p>
            </li>
            <li>
              <p>
                  <i class="fas fa-at" style="font-size: 15px; ;color: #21d192"></i>info@example.com
              </p>
            </li>
            <li>
              <p>
                  <i class="fas fa-phone-volume" style=" font-size: 15px;color: red"></i> + 01 234 567 88
              </p>
            </li>
            <li>
              <p>
                  <i class="fas fa-envelope" style=" font-size: 15px;color: rgb(156, 156, 236)"></i> + 01 234 567 88
              </p>
            </li>
          </ul>

        </div>
     

        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

          
            <h5 class="font-weight-bold text-uppercase mb-4">FOLLOW US</h5>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"  style="width: 80px;background-color:#21d192;">
            
            <ul class="list-unstyled" style="margin-left: 30px">
              <li>
                    <i class="fab fa-facebook-f" style="color:rgb(37, 37, 146); font-size: 55px ;"></i>
              </li>
              <br>
              <li>
                  <i class="fab fa-twitter" style="  color: rgb(31, 164, 241);font-size: 50px"></i>
              </li>
              <br>
              <li>
                  <i class="fab fa-youtube" style="color: rgb(228, 12, 12);font-size: 50px"></i>
              </li>
              <br>
              <li>
                  <i class="fab fa-linkedin" style=" color: rgb(89, 142, 255);font-size: 50px"></i>
              </li>
            </ul>
  
          </div>
  
          <hr class="clearfix w-100 d-md-none">

      </div>

    </div>
    

  </footer>



 
