<header style="background-color: rgb(28, 35, 49); color:white">
    <img class="logo" class=" img-fluidimg-thumbnail" 
    src="../../../assets/img/208-2085385_home-remodeling-contractor-home-builders-maven-construction-company.png" style="width:5% ; height:5%">
  
    <nav >
      <ul class="nav_links">
        <li><a routerLink="/registetrer">REGISTER</a></li>
        <li><a routerLink="/home">HOME</a></li>
        <li><a routerLink="/items">ITEMS</a></li>
       
  
      </ul>
    </nav>
  </header>
